.ant-modal-root  {
    position: relative !important;
    z-index: 16693394 !important;
}

#icon-fullscreen {
    color: #8b8b8b;
}

#icon-fullscreen :hover{
    color: white;
    background-color: #666666;
}

.modalFullScreen{
    height: 100vh !important;
    width: 100vw !important;
}
.modal-content-FullScreen{
}
