:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  background-color: #191919;

  text-rendering: optimizeLegibility;
}

#main_title {
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  display: flex;
  padding: 5px;
}

#main_layout {
  height: 100vh;
}

#main_sider {
  background-color: #191919 !important;
}

#main_sider .ant-layout-sider-trigger {
  background-color: #242424;
}
